@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
:root{
    --text-dark:#403F3D;
    --text-light: #E1D4C9;
    --text-accent: #B0907A;
    --background-body: #E1D4C9;
    --background-container: #665F55;
    --background-backdrop: rgba(64, 63, 61, 0.80);
    --border-light: #C1B6AD;
    --border-dark: #665F55;
}
*{
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
h1{
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
}
h2{
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
}
h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-dark);
}
caption{
    font-size: 10px;
    font-weight: 400;
    line-height: 140%;
}
a button{
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
.menu-item{
    color: var(--text-dark);
    font-size: 16px;
}
.menu-item:hover{
    text-decoration: solid;
}
.button-primary{
    display: flex;
    width: 200px;
    padding: 20px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: none;
    background-color: var(--background-body);
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 600;
    
}
.button-secondary{
    display: flex;
    width: 200px;
    padding: 10px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
    color: var(--text-dark);
}
.button-secondary:hover{
    background-color: var(--background-container);
    color: var(--text-light);
}
.button-icon-dark{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
    background-color: var(--background-body);
    color: var(--text-dark);
}
.button-icon-dark:hover{
    background-color: var(--background-container);
    color: var(--text-light);
    transition: 500ms ease-in-out;
}
.button-icon-dark:hover > svg > path{
    stroke: var(--text-light);
    transition: 500ms ease-in-out;
}
body {
    font-family: Inter, sans-serif;
    background-color: var(--background-body);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: var(--text-dark);
    line-height: 150%;
    font-weight: 600;
}
li{
    font-weight: 600;
}